* {
  padding: 0;
  margin: 0;
  border: 0;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input,
button,
textarea {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

ul,
ol,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.block__row {
  border: 20px solid aqua;
  margin: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  background-color: blue;
}
.block__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100px;
          flex: 1 1 100px;
  border: 20px solid aquamarine;
}
.block__column:nth-child(2) .block__item {
  height: 120px;
  width: 300px;
  text-align: center;
}
.block__item {
  background-color: lightseagreen;
  padding: 30px 50px;
  font-size: 50px;
  color: #fff;
  font-weight: 600;
}