@import "nullStyle.scss";
.wrapper {
}
.block {
  &__row {
    border: 20px solid aqua;
    margin: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    background-color: blue;
  }
  .block_column_1 {
  }
  .block_column_2 {
  }
  .block_column_3 {
  }

  &__column {
    flex: 1 1 100px;
    border: 20px solid aquamarine;
    &:nth-child(2) {
      .block__item {
        height: 120px;
        width: 300px;
        text-align: center;
      }
    }
  }
  &__item {
    background-color: lightseagreen;
    padding: 30px 50px;
    font-size: 50px;
    color: #fff;
    font-weight: 600;
  }
}
